{
  "android": {
    "release": {
      "keystore": "private/minha-bagunca.keystore",
      "storePassword": "SUBSTITUA_PELA_SUA_SENHA",
      "alias": "minha-bagunca",
      "password": "SUBSTITUA_PELA_SUA_SENHA",
      "keystoreType": ""
    }
  }
}
